In [180]:
# Salaries1.csv 파일에서
import pandas as pd
import numpy as np

df = pd.read_csv('D:\BookExample_Python\Lecture03\Tranning\Backup\eda_data_files\Salaries1.csv')

# 1. BasePay 평균은?
print('BasePay 평균 : ', df['BasePay'].mean())

# 2. OvertimePay의 최대값은?
print('OvertimePay의 평균 : ', df['OvertimePay'].max())

# 3. 'JOSEPH DRISCOLL'의 직업은?
print('직업 : ', list(df[df['EmployeeName'] == 'JOSEPH DRISCOLL'].JobTitle)[0])

# 4. 'TotalPayBenefits' 최고금액을 수령하는 사람의 이름은?
print('최고 금액 수령 인물 : ', list(df[df.TotalPayBenefits.max() == df.TotalPayBenefits].EmployeeName)[0])

# 5. 연도별 BasePay의 평균 TotalPay는?
for i in range(len(list(df.Year.unique()))):
    print(list(df.Year.unique())[i], '년도 : ' ,  list(df.groupby('Year')['BasePay'].mean())[i])

BasePay 평균 :  75601.1371462
OvertimePay의 평균 :  245131.88
직업 :  CAPTAIN, FIRE SUPPRESSION
최고 금액 수령 인물 :  NATHANIEL FORD
2011 년도 :  63595.95651677314
2012 년도 :  106964.14028032655

In [181]:
# 5. 연도별 BasePay의 평균 TotalPay는?

print(list(df.Year.unique())[i], '년도 : ' ,  list(df.groupby('Year')['BasePay'].mean())[i])

2012 년도 :  106964.14028032655

In [183]:

# 6. 'JobTitle'의 종류는?  [ 다른 풀이방법을 알아야 함]

jobList = df.JobTitle.unique()

In [184]:
# 7. 'JobTitle'의 종류 중 가장 많은 jobTitle 상위 5개는 무엇인가?
df.groupby('JobTitle')["EmployeeName"].count().sort_values(ascending=False).head(5)

JobTitle
TRANSIT OPERATOR    2388
SPECIAL NURSE       1402
REGISTERED NURSE    1219
Registered Nurse    1003
CUSTODIAN            796
Name: EmployeeName, dtype: int64

In [227]:
# 8. 2011년도에 오직 한 사람만 종사하고 있는 jobTitle은?
jobList = df[df['Year'] == 2011]['JobTitle']
unique_counts = jobList.value_counts()
unique_counts[unique_counts == 1]

JobTitle
AIRPORT MECHANICAL MAINTENANCE SUPERVISOR         1
ADMINISTRATOR, SFGH MEDICAL CENTER                1
COURT REPORTER COORDINATOR                        1
YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS    1
COURT EXECUTIVE OFFICER                           1
                                                 ..
SPECIAL ASSISTANT XVIII                           1
ASPHALT PLANT SUPERVISOR I                        1
LEGISLATIVE CALENDAR CLERK                        1
ASSISTANT SUPERINTENDENT RECREATION               1
PUBLIC SAFETY COMMUNICATIONS TECHNICIAN           1
Name: count, Length: 200, dtype: int64

In [185]:

# 9. 'Chief'라는 직업을 가진 사람의 수는?
df[df['JobTitle'].str.contains('CHIEF')].EmployeeName.count()

204

In [186]:

# 10. 'TotalPay'의 10%가 세금이라고 할 때, 세금을 계산한 'Tax' 칼럼을 추가하시오
df['Tax'] = df.TotalPay.apply(lambda x : x * 0.1)
df

,Unnamed: 0,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status,Tax
0,0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN,56759.543
1,1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN,53890.928
2,2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN,33527.991
3,3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN,33234.361
4,4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN,32637.319
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,49995,49996,Carl Jacobs Sr,Transit Operator,65612.03,15604.45,733.84,37250.65,81950.32,119200.97,2012,NaN,San Francisco,NaN,8195.032
49996,49996,49997,Yee Lam,Social Work Supervisor,81284.05,0.00,2084.00,35831.69,83368.05,119199.74,2012,NaN,San Francisco,NaN,8336.805
49997,49997,49998,Fe V Foronda,Licensed Vocational Nurse,68857.08,16740.17,873.92,32725.45,86471.17,119196.62,2012,NaN,San Francisco,NaN,8647.117
49998,49998,49999,Alison Schlageter,Administrative Analyst,83710.58,0.00,0.00,35478.91,83710.58,119189.49,2012,NaN,San Francisco,NaN,8371.058
49999,49999,50000,Nicholas Hancock,Senior Administrative Analyst,83785.84,0.00,0.00,35400.78,83785.84,119186.62,2012,NaN,San Francisco,NaN,8378.584

In [187]:

# 11. Agency 별로 몇 개의 데이터가 존재하는가.
df.groupby('Agency').count()

,Unnamed: 0,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Status,Tax
Agency,,,,,,,,,,,,,,
San Francisco,49999,49999,49999,49999,49999,49999,49999,13840,49999,49999,49999,0,0,49999
hello,1,1,1,1,1,1,1,1,1,1,1,0,0,1

In [232]:
# Ecommerce Purchases data에서...

# Salaries1.csv 파일에서
import pandas as pd
import numpy as np

df2 = pd.read_csv('D:\BookExample_Python\Lecture03\Tranning\Backup\eda_data_files\Ecommerce Purchases.csv')

df2

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\r\nAlexisborough, NE ...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\r\nSouth John, TN...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\r\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\r\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\r\nNew Cynthia, TX...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,"966 Castaneda Locks\r\nWest Juliafurt, CO 96415",92 XI,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Randall-Sloan,342945015358701,03/22,838,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,it,82.21
9996,"832 Curtis Dam Suite 785\r\nNorth Edwardburgh,...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,07/25,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63
9997,Unit 4434 Box 6343\r\nDPO AE 28026-0283,74 Zh,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Anderson Ltd,6011539787356311,05/21,1,VISA 16 digit,tyler16@gmail.com,Veterinary surgeon,156.210.0.254,el,83.98
9998,"0096 English Rest\r\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,180003348082930,11/17,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84
9999,"40674 Barrett Stravenue\r\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4139972901927273,02/19,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,el,67.59

In [292]:

# 1. 고객들의 평균구매금액은?
df2['Purchase Price'].mean()

50.347302

In [242]:
# 2. 최고구매금액과 최소구매금액은?
df2['Purchase Price'].max()
df2['Purchase Price'].min()

0.0

In [240]:
# 3. 영어사용자의 구매금액의 합계?
df2[df2['Language'] == 'en']['Purchase Price'].sum()

56111.11

In [243]:

# 4. 사용언어별 평균구매금액은?
df2.groupby('Language')['Purchase Price'].mean()

Language
de    50.254485
el    51.555356
en    51.103015
es    49.366977
fr    49.476718
it    50.001004
pt    51.215546
ru    49.927134
zh    50.180198
Name: Purchase Price, dtype: float64

In [246]:
# 5. 'Job'이 'Lawyer'인 사람의 숫자?
df2[df2['Job'] == 'Lawyer']['IP Address'].count()

30

In [251]:
# 6. 'AM'과 'PM'의 각각의 구매건수?
df2.groupby('AM or PM').count()

,Address,Lot,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
AM or PM,,,,,,,,,,,,,
AM,4932,4932,4932,4932,4932,4932,4932,4932,4932,4932,4932,4932,4932
PM,5068,5068,5068,5068,5068,5068,5068,5068,5068,5068,5068,5068,5068

In [254]:
# 7. Lot이 '90 WT'인 곳에서 구매한 구매금액은?
df2[df2['Lot'] == '90 WT']['Purchase Price'].count()

Series([], Name: Email, dtype: object)

In [266]:
# 8. credit card num이 '4926535242672853'인 사람의 email은?
df2[df2['Credit Card'] == int(4926535242672853)]['Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

In [265]:
# 9. 카드회사가 'American Express'이고 구매금액이 $95 이상인 구매고객 수?
df2[(df2['CC Provider'] == 'American Express') & (df2['Purchase Price'] >= float(95))]['Email'].count()

39

In [278]:
# 10. credit card 만료일이 2025년도인 카드를 소지한 구매자의 수?
df2[df2['CC Exp Date'].str.split('/').str[1] == '25']['Email'].count()

1033

In [286]:
# 11. email 도메인 별 사용자 수는?
df2['domain_mail'] = df2.Email.apply(lambda x : x.split('@')[1])

df2.groupby('domain_mail')['Email'].count().sort_values(ascending=False).head(5)

domain_mail
hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64

In [291]:
# 12. browser 종류별 이용자수?
df2.groupby('Browser Info')['Email'].count().sort_values(ascending=False).head(5)

Browser Info
Mozilla/5.0 (compatible; MSIE 5.0; Windows NT 6.0; Trident/3.0)    12
Mozilla/5.0 (compatible; MSIE 8.0; Windows NT 6.2; Trident/3.1)    12
Mozilla/5.0 (compatible; MSIE 9.0; Windows CE; Trident/4.1)        12
Mozilla/5.0 (compatible; MSIE 9.0; Windows 95; Trident/4.1)        12
Mozilla/5.0 (compatible; MSIE 8.0; Windows NT 6.1; Trident/4.0)    11
Name: Email, dtype: int64