In [ ]:
import numpy as np
import pandas as pd

df = pd.read_csv('D:\BookExample_Python\Lecture03\Tranning\Backup\eda_data_files\phone_data.csv')
df.head()

In [ ]:
df.pivot_table(['duration'], index=df.month, columns= df.network_type, aggfunc='count', fill_value=0)

In [ ]:
df.pivot_table(['duration'], index=df.date, columns= df.network, aggfunc='sum')

In [ ]:
df.pivot_table(['duration'], index= [df.month, df.item], columns= df.network_type, aggfunc='mean', fill_value=0)

In [ ]:
# cross_tab
pd.crosstab(index=df.month, columns=df.network_type, values=df.duration, aggfunc = 'mean').fillna(0)

In [ ]:
# merge 데이터 합치기
# dataframe을 합하는 방법
# 1. Merge - 특정 칼럼의 값을 기준으로 데이터 프레임을 병합...
# 2. concat - 데이터 프레임을 붙인다.

raw_data = {
    'subject_id' : ['1','2','3','4','5','6','7','8','9','10','11'],
    'test_score' : [15 ,45 ,78 ,21 ,45 ,86 ,18 ,95 ,88 ,52 ,87],
}

df_a = pd.DataFrame(raw_data)
df_a

In [ ]:
raw_data = {
    'subject_id' : ['4','5','6','12','13'],
    'first_name' : ['Billy','Brain','Bran','Bryce','Betty'],
    'last_name' : ['Bonder', 'Black', 'Balwner', 'Brice', 'Btisan']
}

df_b = pd.DataFrame(raw_data)
df_b

In [ ]:
# merge

from IPython.display import Image

Image('mergej.png')

In [ ]:
# inner merge
# how는 default는 'inner' 
# 칼럼 subject_id의 공통 데이터는 4,5,6만으로 병합
# test_score는 df_a에서 가져온 칼럼(데이터)
# first_name, last_name은 df_b에서 가져온 칼럼(데이터)
pd.merge(df_a, df_b,on ='subject_id', how ='inner')

# right merge
# 오른쪽 df 의 데이터는 모두 포함, 왼쪽 df의 데이터는 공통 데이터만 포함
# df_b의 모든 데이터 포함 4,5,6,12,13
# df_a의 공통 데이터만 포함 4,5,6
pd.merge(df_a, df_b,on ='subject_id', how ='right')

# left merge
# 왼쪽 df의 데이터는 모두 포함, 오른쪽 df의 데이터는 공통 데이터만 포함
# df_a의 모든 데이터 포함 1,2,3,4,5,6,7,8,9,10,11
# df_b의 공통 데이터만 포함 4,5,6
pd.merge(df_a, df_b,on ='subject_id', how ='left')

# full merger
# 양 df 중 한 곳에만 있으면 그런 모든 데이터를 포함한다.

pd.merge(df_a, df_b, on='subject_id',how='outer')

In [ ]:
# concat
# pd.concat([df_a,df_b] , axis=0)
pd.concat([df_a,df_b] , join='outer')

In [ ]:
mat = np.array([[1,2,3,4],[5,6,7,8],[9,10,11,12]])
df1 = pd.DataFrame(mat)

df1.columns = ['a','b','c','d']
df1.index = ['가','나','다']
df1

mat = np.array([[10,20,30,40],[50,60,70,80],[90,100,110,120]])
df2 = pd.DataFrame(mat)

df2.columns = ['a','b','c','d']
df2.index = ['가','나','다']
df2

In [ ]:
pd.concat([df1,df2])

In [ ]:
# missing value 
# # NaN : 값이 없다...
df = pd.DataFrame(np.random.randn(5,5), index = ['a','b','c','d','e'], columns= ['one','two','three','four','five'])

In [ ]:
df.loc[['b','d'],'two'] = np.nan

df

In [ ]:
# # missing value 처리방법

# 1. nan 값을 확인
# 2-1 non값을 다른 값으로 채운다
# 2-2 nan값을 포함한 row나 column을 삭제한다.

# 1. nan값을 확인... -> isnull(), isnan() -> nan값이면 True, 아니면 False
df.isnull().sum()   # column별 non값을 확인할 수 있다.
# row별 nan값의 개수
df.isnull().sum(axis=1)
df.fillna(0)

In [ ]:

# 
df.fillna()
# 위의 값으로 채운다
df.ffill()
# 아래의 값으로 채운다
df.bfill()
# 칼럼의 평균값으로 채운다
df.fillna(df.mean())

# 데이터 표준화 # 보간
df.interpolate()

In [ ]:
# NaN값을 이용한 처리환경

df.dropna(axis=0)

In [ ]:
df.dropna(thres=4,axis=1)

In [ ]:
df.drop('one',axis=1)

In [ ]:
df

In [ ]:
#datatype

In [20]:
# datatype
df = pd.read_csv('eda_data_files\seoul_weather.csv', skiprows=8, encoding='euckr')

df

       \t\t지점번호 지점명          일시  평균기온(℃)  최고기온(℃) \t최고기온시각  최저기온(℃) 최저기온시각
0           108  서울  1907-10-01     13.5     20.7      NaN      7.9    NaN
1           108  서울  1907-10-02     16.2     22.0      NaN      7.9    NaN
2           108  서울  1907-10-03     16.2     21.3      NaN     13.1    NaN
3           108  서울  1907-10-04     16.5     22.0      NaN     11.2    NaN
4           108  서울  1907-10-05     17.6     25.4      NaN     10.9    NaN
...         ...  ..         ...      ...      ...      ...      ...    ...
40483       108  서울  2019-10-07     14.8     17.9    00:01     13.3  23:09
40484       108  서울  2019-10-08     14.7     19.8    14:42     10.6  23:31
40485       108  서울  2019-10-09     13.6     20.4    14:41      7.7  07:04
40486       108  서울  2019-10-10     15.2     19.8    15:08     10.7  02:15
40487       108  서울  2019-10-11     18.8     26.1    15:48     13.0  06:59

[40488 rows x 8 columns]

In [21]:
df1 = df[['일시', '평균기온(℃)', '최고기온(℃)', '최저기온(℃)']]
df1

               일시  평균기온(℃)  최고기온(℃)  최저기온(℃)
0      1907-10-01     13.5     20.7      7.9
1      1907-10-02     16.2     22.0      7.9
2      1907-10-03     16.2     21.3     13.1
3      1907-10-04     16.5     22.0     11.2
4      1907-10-05     17.6     25.4     10.9
...           ...      ...      ...      ...
40483  2019-10-07     14.8     17.9     13.3
40484  2019-10-08     14.7     19.8     10.6
40485  2019-10-09     13.6     20.4      7.7
40486  2019-10-10     15.2     19.8     10.7
40487  2019-10-11     18.8     26.1     13.0

[40488 rows x 4 columns]

In [22]:
df1.columns = ['일시','평온','고온','저온']
df1

               일시    평온    고온    저온
0      1907-10-01  13.5  20.7   7.9
1      1907-10-02  16.2  22.0   7.9
2      1907-10-03  16.2  21.3  13.1
3      1907-10-04  16.5  22.0  11.2
4      1907-10-05  17.6  25.4  10.9
...           ...   ...   ...   ...
40483  2019-10-07  14.8  17.9  13.3
40484  2019-10-08  14.7  19.8  10.6
40485  2019-10-09  13.6  20.4   7.7
40486  2019-10-10  15.2  19.8  10.7
40487  2019-10-11  18.8  26.1  13.0

[40488 rows x 4 columns]

In [23]:
df1['평온'] = df1.평온.astype('str')

C:\Users\GJ\AppData\Local\Temp\ipykernel_10396\4030359895.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['평온'] = df1.평온.astype('str')

In [24]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40488 entries, 0 to 40487
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일시      40488 non-null  object
 1   평온      40488 non-null  object
 2   고온      39730 non-null  float64
 3   저온      39731 non-null  float64
dtypes: float64(2), object(2)
memory usage: 1.2+ MB

In [ ]:
# 칼럼의 datatype을 변경할 경우 : col.astype(바꿀 데이터 타입)
# 문자열 칼럼 -> col.astype('int'), col.astype('float')

# 문자열 칼럼 -> pd.to_numeric(col,error=option) 문자 칼럼이 숫자로 바뀜
# option : ignore , raise, coerce
# error -> ignore : 바꾸지 않음
# error -> raise : 에러를 띄움
# error -> coerce : 데이터를 숫자로 바꿈, error가 발행한 데이터는 NaN

# 문자열 칼럼 -> pd.to_datetime(col)

In [ ]:
df1['일시'] = pd.to_datetime(df1.일시)
df1['평온'] = pd.to_numeric(df1.평온, errors='coerce')

In [ ]:
df1.info()

In [ ]:
# 서울시 구별 cctv 데이터
# 서울시 cctv 데이터, 서울시 인구 데이터

# 퀴즈 :
# 인구당 cctv수가 많은 구....
# CCTV가 가장 많은 구?>
# 2016년에 CCTV증가율이 가장 높은 구는?
# 외국인 비율이 가장 높은 구는?
# 고령자 비율이 가장 높은 구는?
# 전체 인구수가 가장 많은 구는?
# 서울시 인구당 CCTV수가 많은 구는?