In [11]:
import pandas as pd
import numpy as np

sal = pd.read_csv('eda_data_files\Salaries1.csv')

# 1. BasePay 평균은?
sal.BasePay.mean()

# 2. OvertimePay의 최대값은?
sal.OvertimePay.max()

# 3. 'JOSEPH DRISCOLL'의 직업은?
sal.loc[sal.EmployeeName == 'JOSEPH DRISCOLL']

# 4. 'TotalPayBenefits' 최고금액을 수령하는 사람의 이름은?
sal[sal.TotalPayBenefits.max() == sal.TotalPayBenefits].EmployeeName
sal.sort_values('TotalPayBenefits',ascending=False).iloc[0].EmployeeName

# 5. 연도별 BasePay의 평균 TotalPay는?
sal.groupby('Year')['BasePay'].mean()

# 6. 'JobTitle'의 종류는?
sal.JobTitle.apply(lambda x:x.lower()).unique()
sal.JobTitle.apply(lambda x:x.lower()).nunique()
# Unity 함수에 대한 상세내용
sal.JobTitle.apply(lambda x:x.lower()).value_counts().count()

# 7. 'JobTitle'의 종류 중 가장 많은 jobTitle 상위 5개는 무엇인가?

# sal['jobTitle'].value_counts()[:5]
jobs = {}
for job in sal.JobTitle.apply(lambda x : x.lower()):
    if job in jobs:
        jobs[job] += 1
    else:
        jobs[job] = 1
        
sorted(jobs.items(), key = lambda item:item[1], reverse=True)

sal.JobTitle.apply(lambda x : x.lower()).value_counts().iloc[:5]

# 8. 2011년도에 오직 한 사람만 종사하고 있는 jobTitle은?

sal_2011 = sal.loc[sal.Year == 2011]

job_count = sal_2011.JobTitle.apply(lambda x : x.lower()).value_counts() == 1
job_count[job_count.values].index

#
jobList = sal[sal['Year'] == 2011]['JobTitle']
unique_counts = jobList.value_counts()
unique_counts[unique_counts == 1]

# 9. 'Chief'라는 직업을 가진 사람의 수는?
sal[sal['JobTitle'].str.contains('CHIEF')].EmployeeName.count()

# 9.1
(sal.JobTitle.apply(lambda x:x.lower()) == 'chief').sum()

# 9.2
len([job for job in sal.JobTitle.apply(lambda x:x.lower()) if 'chief' in job])

# 9.3
(sal.JobTitle.apply(lambda x:x.lower())).str.contains('chief').sum()

# 10. 'TotalPay'의 10%가 세금이라고 할 때, 세금을 계산한 'Tax' 칼럼을 추가하시오
sal['Tax'] = sal.TotalPay.apply(lambda x : x * 0.1)
sal['Tax'] = sal.TotalPay * 0.1

# 11. Agency 별로 몇 개의 데이터가 존재하는가.
# sal.groupby('Agency').count()
sal.Agency.value_counts()

1408

In [31]:
# Ecommerce Purchases data에서...

# Salaries1.csv 파일에서
import pandas as pd
import numpy as np

ecom = pd.read_csv('eda_data_files\Ecommerce Purchases.csv')


# 1. 고객들의 평균구매금액은?
ecom['Purchase Price'].mean()

# 2. 최고구매금액과 최소구매금액은?
ecom['Purchase Price'].max()
ecom['Purchase Price'].min()

# 3. 영어사용자의 구매금액의 합계?
ecom[ecom['Language'] == 'en']['Purchase Price'].sum()

#ecom.Language.unique()
ecom[ecom.Language == 'en']['Purchase Price'].sum()

# 4. 사용언어별 평균구매금액은?
ecom.groupby('Language')['Purchase Price'].mean()

# 5. 'Job'이 'Lawyer'인 사람의 숫자?
ecom[ecom['Job'] == 'Lawyer']['IP Address'].count()

len([job for job in ecom.Job.apply(lambda x : x.lower()) if 'lawyer' in job])

job_list = []
for job in ecom.Job.apply(lambda x : x.lower()):
    if 'lawyer' in job:
        job_list.append(job)
len(job_list)

ecom.Job.apply(lambda x : x.lower()).str.contains('lawyer').sum()

# 6. 'AM'과 'PM'의 각각의 구매건수?
ecom.groupby('AM or PM').count().Lot

# 7. Lot이 '90 WT'인 곳에서 구매한 구매금액은?
ecom[ecom['Lot'] == '90 WT']['Purchase Price'].count()
ecom[ecom.Lot == '90 WT']['Purchase Price']

# 8. credit card num이 '4926535242672853'인 사람의 email은?
ecom[ecom['Credit Card'] == int(4926535242672853)]['Email']
ecom.loc[ecom['Credit Card'] == 4926535242672853].Email

# 9. 카드회사가 'American Express'이고 구매금액이 $95 이상인 구매고객 수?
ecom[(ecom['CC Provider'] == 'American Express') & (ecom['Purchase Price'] >= float(95))]['Email'].count()
ecom[(ecom['CC Provider'] == 'American Express') & (ecom['Purchase Price'] >= 95)].count()

# 10. credit card 만료일이 2025년도인 카드를 소지한 구매자의 수?
ecom[ecom['CC Exp Date'].str.split('/').str[1] == '25']['Email'].count()
ecom[ecom['CC Exp Date'].apply(lambda x : x.split('/')[1]) == '25'].count()

# 11. email 도메인 별 사용자 수는?
ecom['domain_mail'] = ecom.Email.apply(lambda x : x.split('@')[1])
ecom.groupby('domain_mail')['Email'].count().sort_values(ascending=False).head(5)

# 12. browser 종류별 이용자수?
ecom.groupby('Browser Info')['Email'].count().sort_values(ascending=False).head(5)

ecom['b_info'] = ecom['Browser Info'].apply(lambda x : x.split('/')[0])
ecom.groupby('b_info').count()

56111.11

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price,domain_mail
b_info,,,,,,,,,,,,,,,
Mozilla,7924,7924,7924,7924,7924,7924,7924,7924,7924,7924,7924,7924,7924,7924,7924
Opera,2076,2076,2076,2076,2076,2076,2076,2076,2076,2076,2076,2076,2076,2076,2076