In [1]:
# CSV 파일
import numpy as np
import pandas as pd

cctv = pd.read_csv('eda_data_files\CCTV_in_Seoul.csv')
people = pd.read_excel('eda_data_files\population_in_Seoul.xls')

people.columns = ['기간','자치구','세대','총인구','총남자수','총여자수','한국인인구','한국인남자','한국인여자','외국인인구','외국인남자','외국인여자','세대당인구','65세고령자']
cctv.columns = ['자치구','CCTV개수','2013년도이전','2014년','2015년','2016년']

peopleCCTV = pd.merge(people, cctv, on='자치구', how='outer')
peopleCCTV.drop([0,1,2],inplace=True)
peopleCCTV['총인구'] = pd.to_numeric(peopleCCTV['총인구'], errors='coerce')
peopleCCTV['총남자수'] = pd.to_numeric(peopleCCTV['총남자수'], errors='coerce')
peopleCCTV['총여자수'] = pd.to_numeric(peopleCCTV['총여자수'], errors='coerce')
peopleCCTV['한국인인구'] = pd.to_numeric(peopleCCTV['한국인인구'], errors='coerce')
peopleCCTV['한국인남자'] = pd.to_numeric(peopleCCTV['한국인남자'], errors='coerce')
peopleCCTV['한국인여자'] = pd.to_numeric(peopleCCTV['한국인여자'], errors='coerce')
peopleCCTV['외국인인구'] = pd.to_numeric(peopleCCTV['외국인인구'], errors='coerce')
peopleCCTV['외국인남자'] = pd.to_numeric(peopleCCTV['외국인남자'], errors='coerce')
peopleCCTV['외국인여자'] = pd.to_numeric(peopleCCTV['외국인여자'], errors='coerce')
peopleCCTV['세대당인구'] = pd.to_numeric(peopleCCTV['세대당인구'], errors='coerce')
peopleCCTV['65세고령자'] = pd.to_numeric(peopleCCTV['65세고령자'], errors='coerce')
peopleCCTV['한국인남자'] = pd.to_numeric(peopleCCTV['한국인남자'], errors='coerce')
peopleCCTV['65세고령자'] = pd.to_numeric(peopleCCTV['65세고령자'], errors='coerce')

peopleCCTV.reset_index(drop=True,inplace=True)

peopleCCTV

,기간,자치구,세대,총인구,총남자수,총여자수,한국인인구,한국인남자,한국인여자,외국인인구,외국인남자,외국인여자,세대당인구,65세고령자,CCTV개수,2013년도이전,2014년,2015년,2016년
0,2017.1/4,종로구,72654,162820.0,79675.0,83145.0,153589.0,75611.0,77978.0,9231.0,4064.0,5167.0,2.11,25425.0,1002.0,464.0,314.0,211.0,630.0
1,2017.1/4,중구,59481,133240.0,65790.0,67450.0,124312.0,61656.0,62656.0,8928.0,4134.0,4794.0,2.09,20764.0,671.0,413.0,190.0,72.0,348.0
2,2017.1/4,용산구,106544,244203.0,119132.0,125071.0,229456.0,111167.0,118289.0,14747.0,7965.0,6782.0,2.15,36231.0,1624.0,1368.0,218.0,112.0,398.0
3,2017.1/4,성동구,130868,311244.0,153768.0,157476.0,303380.0,150076.0,153304.0,7864.0,3692.0,4172.0,2.32,39997.0,1062.0,730.0,91.0,241.0,265.0
4,2017.1/4,광진구,158960,372164.0,180992.0,191172.0,357211.0,174599.0,182612.0,14953.0,6393.0,8560.0,2.25,42214.0,707.0,573.0,78.0,53.0,174.0
5,2017.1/4,동대문구,159839,369496.0,182932.0,186564.0,354079.0,177021.0,177058.0,15417.0,5911.0,9506.0,2.22,54173.0,1294.0,1070.0,23.0,198.0,579.0
6,2017.1/4,중랑구,177548,414503.0,206102.0,208401.0,409882.0,204265.0,205617.0,4621.0,1837.0,2784.0,2.31,56774.0,660.0,509.0,121.0,177.0,109.0
7,2017.1/4,성북구,188512,461260.0,224076.0,237184.0,449773.0,219545.0,230228.0,11487.0,4531.0,6956.0,2.39,64692.0,1464.0,1009.0,78.0,360.0,204.0
8,2017.1/4,강북구,141554,330192.0,161686.0,168506.0,326686.0,160353.0,166333.0,3506.0,1333.0,2173.0,2.31,54813.0,748.0,369.0,120.0,138.0,204.0
9,2017.1/4,도봉구,136613,348646.0,171026.0,177620.0,346629.0,170289.0,176340.0,2017.0,737.0,1280.0,2.54,51312.0,485.0,238.0,159.0,42.0,386.0
10,2017.1/4,노원구,219957,569384.0,276823.0,292561.0,565565.0,275211.0,290354.0,3819.0,1612.0,2207.0,2.57,71941.0,1265.0,542.0,57.0,451.0,516.0
11,2017.1/4,은평구,201869,494388.0,240220.0,254168.0,489943.0,238337.0,251606.0,4445.0,1883.0,2562.0,2.43,72334.0,1873.0,1138.0,224.0,278.0,468.0
12,2017.1/4,서대문구,137207,327163.0,156765.0,170398.0,314982.0,152613.0,162369.0,12181.0,4152.0,8029.0,2.30,48161.0,962.0,844.0,50.0,68.0,292.0
13,2017.1/4,마포구,169404,389649.0,185889.0,203760.0,378566.0,181346.0,197220.0,11083.0,4543.0,6540.0,2.23,48765.0,574.0,314.0,118.0,169.0,379.0
14,2017.1/4,양천구,176921,479978.0,237117.0,242861.0,475949.0,235278.0,240671.0,4029.0,1839.0,2190.0,2.69,52975.0,2034.0,1843.0,142.0,30.0,467.0
15,2017.1/4,강서구,247696,603772.0,294433.0,309339.0,597248.0,291249.0,305999.0,6524.0,3184.0,3340.0,2.41,72548.0,884.0,388.0,258.0,184.0,81.0
16,2017.1/4,구로구,172272,447874.0,224436.0,223438.0,416487.0,207114.0,209373.0,31387.0,17322.0,14065.0,2.42,56833.0,1561.0,1142.0,173.0,246.0,323.0
17,2017.1/4,금천구,105146,255082.0,130558.0,124524.0,236353.0,120334.0,116019.0,18729.0,10224.0,8505.0,2.25,32970.0,1015.0,674.0,51.0,269.0,354.0
18,2017.1/4,영등포구,165462,402985.0,202573.0,200412.0,368072.0,183705.0,184367.0,34913.0,18868.0,16045.0,2.22,52413.0,904.0,495.0,214.0,195.0,373.0
19,2017.1/4,동작구,173033,412520.0,201217.0,211303.0,400456.0,195775.0,204681.0,12064.0,5442.0,6622.0,2.31,56013.0,1091.0,544.0,341.0,103.0,314.0
20,2017.1/4,관악구,253826,525515.0,264763.0,260752.0,507203.0,256090.0,251113.0,18312.0,8673.0,9639.0,2.00,68082.0,1496.0,846.0,260.0,390.0,613.0
21,2017.1/4,서초구,173856,450310.0,216264.0,234046.0,445994.0,214036.0,231958.0,4316.0,2228.0,2088.0,2.57,51733.0,1930.0,1406.0,157.0,336.0,398.0
22,2017.1/4,강남구,234107,570500.0,273301.0,297199.0,565550.0,270726.0,294824.0,4950.0,2575.0,2375.0,2.42,63167.0,2780.0,1292.0,430.0,584.0,932.0
23,2017.1/4,송파구,259883,667483.0,325040.0,342443.0,660584.0,321676.0,338908.0,6899.0,3364.0,3535.0,2.54,72506.0,618.0,529.0,21.0,68.0,463.0
24,2017.1/4,강동구,179676,453233.0,225427.0,227806.0,449019.0,223488.0,225531.0,4214.0,1939.0,2275.0,2.50,54622.0,773.0,379.0,99.0,155.0,377.0
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
# 인구당 cctv수가 많은 구....
peopleCCTV['CCTV비율'] = peopleCCTV['총인구'] / peopleCCTV['CCTV개수']
peopleCCTV.sort_values('CCTV비율', ascending=False)[['자치구', 'CCTV비율']]

     자치구       CCTV비율
26   송파구  1080.069579
12   도봉구   718.857732
18   강서구   683.000000
16   마포구   678.831010
9    중랑구   628.034848
27   강동구   586.329884
7    광진구   526.398868
13   노원구   450.105929
21  영등포구   445.779867
11   강북구   441.433155
22   동작구   378.111824
23   관악구   351.280080
15  서대문구   340.086279
10   성북구   315.068306
6    성동구   293.073446
19   구로구   286.914798
8   동대문구   285.545595
14   은평구   263.955152
20   금천구   251.312315
17   양천구   235.977384
24   서초구   233.321244
25   강남구   205.215827
4     중구   198.569300
3    종로구   162.495010
5    용산구   150.371305
1    자치구          NaN
28   NaN          NaN

In [71]:
# CCTV가 가장 많은 구?>
peopleCCTV.sort_values('CCTV개수', ascending=False)[['자치구','CCTV개수']]

     자치구  CCTV개수
25   강남구  2780.0
17   양천구  2034.0
24   서초구  1930.0
14   은평구  1873.0
5    용산구  1624.0
19   구로구  1561.0
23   관악구  1496.0
10   성북구  1464.0
8   동대문구  1294.0
13   노원구  1265.0
22   동작구  1091.0
6    성동구  1062.0
20   금천구  1015.0
3    종로구  1002.0
15  서대문구   962.0
21  영등포구   904.0
18   강서구   884.0
27   강동구   773.0
11   강북구   748.0
7    광진구   707.0
4     중구   671.0
9    중랑구   660.0
26   송파구   618.0
16   마포구   574.0
12   도봉구   485.0
1    자치구     NaN
28   NaN     NaN

In [9]:
# 2016년에 CCTV증가율이 가장 높은 구는?
peopleCCTV['CCTV증가율'] = (peopleCCTV['2016년'] - peopleCCTV['2015년']) / peopleCCTV['2015년'] * 100
peopleCCTV.sort_values('CCTV증가율', ascending=False)[['자치구', 'CCTV증가율']].head(5)

     자치구      CCTV증가율
14   양천구  1456.666667
9    도봉구   819.047619
23   송파구   580.882353
1     중구   383.333333
12  서대문구   329.411765

In [73]:
# 외국인 비율이 가장 높은 구는?
peopleCCTV['외국인비율'] = peopleCCTV['외국인인구'] / peopleCCTV['총인구']
peopleCCTV.sort_values('외국인비율', ascending=False)[['자치구', '외국인비율']].head(5)

     자치구     외국인비율
21  영등포구  0.086636
20   금천구  0.073423
19   구로구  0.070080
4     중구  0.067007
5    용산구  0.060388

In [74]:
# 고령자 비율이 가장 높은 구는?
peopleCCTV['고령자비율'] = peopleCCTV['65세고령자'] / peopleCCTV['총인구']
peopleCCTV.sort_values('외국인비율', ascending=False)[['자치구', '고령자비율']].head(5)

     자치구     고령자비율
21  영등포구  0.130062
20   금천구  0.129253
19   구로구  0.126895
4     중구  0.155839
5    용산구  0.148364

In [75]:
# 전체 인구수가 가장 많은 구는?
peopleCCTV.sort_values('총인구', ascending=False)[['자치구', '총인구']].head(5)

    자치구       총인구
26  송파구  667483.0
18  강서구  603772.0
25  강남구  570500.0
13  노원구  569384.0
23  관악구  525515.0