In [264]:
import numpy as np
import pandas as pd

age_pd = pd.read_csv('D:\BookExample_Python\Lecture03\Tranning\Backup\eda_data_files\\age_pd.csv',encoding='euckr')

age_pd = age_pd.rename(columns={'2019년02월_계_총인구수':'총인구수', '2019년02월_계_연령구간인구수':'연령구간'})

# columns 이름 바꾸기
for age in range(101):
    age_pd = age_pd.rename(columns={'2019년02월_계_{}세'.format(age) : '{}세'.format(age)})

age_pd = age_pd.rename(columns={'2019년02월_계_100세 이상' : '100세 이상'})


for col in age_pd.columns[1:]:
    try:
        age_pd[col] = age_pd[col].str.replace(',','').astype('int64')
    except:
        pass
    

for age in range(0,99,10):
    age_li = []
    
    for i in range(age , age+10):
        age_li.append('{}세'.format(i))
        
    age_pd['{}대합산'.format(age)] = age_pd[age_li].sum(axis='columns')
    age_li.clear()
    
age_li.append('100세 이상')
age_pd['100대합산'.format(age)] = age_pd[age_li].sum(axis='columns')
age_li.clear()

all_seoul = age_pd.iloc[0]
age_pd.drop([0], axis=0, inplace= True)
age_pd['자치구'] = age_pd['행정구역'].apply(lambda x : x.split()[1])

age_pd['행정구역'] = age_pd['자치구']
age_pd = age_pd.drop('자치구',axis=1)


age_pd.head(5)

C:\Users\GJ\AppData\Local\Temp\ipykernel_1464\133956090.py:28: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  age_pd['{}대합산'.format(age)] = age_pd[age_li].sum(axis='columns')
C:\Users\GJ\AppData\Local\Temp\ipykernel_1464\133956090.py:28: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  age_pd['{}대합산'.format(age)] = age_pd[age_li].sum(axis='columns')
C:\Users\GJ\AppData\Local\Temp\ipykernel_1464\133956090.py:28: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  age_pd['{}대합산'.format(age)] = age_pd[age_li].sum(axis='columns')
C:\Users\GJ\AppData\Local\Temp\ipykernel_1464\133956090.py:28: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  age_pd['{}대합산'.format(age)] = age_pd[age_li].sum(axis='columns')
C:\Users\GJ\AppData\Local\Temp\ipykernel_1464\133956090.py:28: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  age_pd['{}대합산'.format(age)] = age_pd[age_li].sum(axis='columns')
C:\Users\GJ\AppData\Local\Temp\ipykernel_1464\133956090.py:28: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  age_pd['{}대합산'.format(age)] = age_pd[age_li].sum(axis='columns')
C:\Users\GJ\AppData\Local\Temp\ipykernel_1464\133956090.py:28: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  age_pd['{}대합산'.format(age)] = age_pd[age_li].sum(axis='columns')
C:\Users\GJ\AppData\Local\Temp\ipykernel_1464\133956090.py:28: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  age_pd['{}대합산'.format(age)] = age_pd[age_li].sum(axis='columns')
C:\Users\GJ\AppData\Local\Temp\ipykernel_1464\133956090.py:28: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  age_pd['{}대합산'.format(age)] = age_pd[age_li].sum(axis='columns')
C:\Users\GJ\AppData\Local\Temp\ipykernel_1464\133956090.py:28: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  age_pd['{}대합산'.format(age)] = age_pd[age_li].sum(axis='columns')
C:\Users\GJ\AppData\Local\Temp\ipykernel_1464\133956090.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  age_pd['100대합산'.format(age)] = age_pd[age_li].sum(axis='columns')
C:\Users\GJ\AppData\Local\Temp\ipykernel_1464\133956090.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  age_pd['자치구'] = age_pd['행정구역'].apply(lambda x : x.split()[1])

,행정구역,총인구수,연령구간,0세,1세,2세,3세,4세,5세,6세,...,10대합산,20대합산,30대합산,40대합산,50대합산,60대합산,70대합산,80대합산,90대합산,100대합산
1,종로구,152880,152880,593,683,775,874,852,863,1023,...,12327,23638,21128,23761,25773,18708,12549,5291,967,236
2,중구,125995,125995,693,753,826,826,775,789,776,...,7690,18290,20736,18925,21033,16444,10140,4260,739,181
3,용산구,229279,229279,1249,1333,1451,1533,1518,1442,1606,...,17084,32645,38246,37049,36349,26745,17018,7860,1417,338
4,성동구,307064,307064,2169,2318,2527,2463,2441,2319,2305,...,22900,46702,52803,48936,49385,34539,20156,7654,1049,229
5,광진구,355387,355387,2010,2003,2253,2349,2311,2284,2543,...,28952,61370,60199,56028,56449,38961,21454,7731,1122,191

In [212]:
# 1. 구를 입력받은 후, 해당 구의 연령대별 인구분포를 출력하시오..
borough = input()

age_pd[age_pd['자치구'] == borough]

,행정구역,총인구수,연령구간,0세,1세,2세,3세,4세,5세,6세,...,10대합산,20대합산,30대합산,40대합산,50대합산,60대합산,70대합산,80대합산,90대합산,100대합산
25,서울특별시 강동구 (1174000000),426178,426178,2407,2664,2977,3151,3282,3167,3480,...,38914,57674,66526,68884,70909,54491,26574,9017,1592,209

In [213]:
#2. 구와 연령을 입력받은 후, 해당 구의 해당 연령의 인구수를 출력하시오..
borough = input()
age = input()

age_pd[age_pd['자치구'] == borough][['자치구','{}세'.format(age)]]

    자치구   23세
25  강동구  5679

In [235]:
#3. 연령을 입력받은 후 해당 연령의 인구가 가장 많은 구를 출력하시오..
age = 23

age_pd.sort_values('{}세'.format(age),ascending=False)['자치구'].iloc[:5]

#age_pd[age_pd['{}세'.format(age)].max() == age_pd['{}세'.format(age)]]

21    관악구
24    송파구
11    노원구
16    강서구
23    강남구
Name: 자치구, dtype: object

In [236]:
#4. 인구수가 가장 많은 구는...?
age_pd.sort_values('총인구수',ascending=False)['자치구'].iloc[:1]

24    송파구
Name: 자치구, dtype: object

In [216]:
#5. 연령대(10대,20대,..50대..100세이상)를 입력받은 후 해당 연령대 인구수가 가장 많은 구를 출력..
age = 10
age_pd[age_pd['{}대합산'.format(age)].max() == age_pd['{}대합산'.format(age)]][['자치구','{}대합산'.format(age)]]

    자치구  10대합산
24  송파구  63800

In [286]:
#6. 구를 입력받은 후 해당 구와 연령대별 인구분포가 가장 유사한 구를 출력하시오..
borough = '강동구'

new_pd = age_pd.T

header = new_pd.iloc[0]
new_pd = new_pd[3:]

new_pd.rename(columns=header,inplace=True)
new_pd.corr()[borough].sort_values(ascending=False).index[1]

'구로구'

In [217]:
#7. 서울시에서 인구수가 가장 많은 연령은..?
all_seoul[3:].sort_values(ascending=False)[:1]

47세    176426
Name: 0, dtype: object

In [218]:
#8. 서울시에서 인구수가 가장 많은 연령대(10대,20대,..50대..100세이상)는..?

sum_li = ['10대합산','20대합산','30대합산','40대합산','50대합산','60대합산','70대합산','80대합산','90대합산','100대합산']

temp_data = pd.DataFrame(age_pd[sum_li].sum())
temp_data.columns = ['결과'] 
temp_data.index = ['10대','20대','30대','40대','50대','60대','70대','80대','90대','100대']
temp_data
temp_data.sort_values('결과',ascending=False).iloc[:1]

          결과
40대  1590205