In [ ]:
import numpy as np
import pandas as pd

df = pd.read_csv('D:\BookExample_Python\Lecture03\Tranning\Backup\eda_data_files\phone_data.csv')
df.head()

In [ ]:
df.pivot_table(['duration'], index=df.month, columns= df.network_type, aggfunc='count', fill_value=0)

In [ ]:
df.pivot_table(['duration'], index=df.date, columns= df.network, aggfunc='sum')

In [ ]:
df.pivot_table(['duration'], index= [df.month, df.item], columns= df.network_type, aggfunc='mean', fill_value=0)

In [ ]:
# cross_tab
pd.crosstab(index=df.month, columns=df.network_type, values=df.duration, aggfunc = 'mean').fillna(0)

In [ ]:
# merge 데이터 합치기
# dataframe을 합하는 방법
# 1. Merge - 특정 칼럼의 값을 기준으로 데이터 프레임을 병합...
# 2. concat - 데이터 프레임을 붙인다.

raw_data = {
    'subject_id' : ['1','2','3','4','5','6','7','8','9','10','11'],
    'test_score' : [15 ,45 ,78 ,21 ,45 ,86 ,18 ,95 ,88 ,52 ,87],
}

df_a = pd.DataFrame(raw_data)
df_a

In [ ]:
raw_data = {
    'subject_id' : ['4','5','6','12','13'],
    'first_name' : ['Billy','Brain','Bran','Bryce','Betty'],
    'last_name' : ['Bonder', 'Black', 'Balwner', 'Brice', 'Btisan']
}

df_b = pd.DataFrame(raw_data)
df_b

In [ ]:
# merge

from IPython.display import Image

Image('mergej.png')

In [ ]:
# inner merge
# how는 default는 'inner' 
# 칼럼 subject_id의 공통 데이터는 4,5,6만으로 병합
# test_score는 df_a에서 가져온 칼럼(데이터)
# first_name, last_name은 df_b에서 가져온 칼럼(데이터)
pd.merge(df_a, df_b,on ='subject_id', how ='inner')

# right merge
# 오른쪽 df 의 데이터는 모두 포함, 왼쪽 df의 데이터는 공통 데이터만 포함
# df_b의 모든 데이터 포함 4,5,6,12,13
# df_a의 공통 데이터만 포함 4,5,6
pd.merge(df_a, df_b,on ='subject_id', how ='right')

# left merge
# 왼쪽 df의 데이터는 모두 포함, 오른쪽 df의 데이터는 공통 데이터만 포함
# df_a의 모든 데이터 포함 1,2,3,4,5,6,7,8,9,10,11
# df_b의 공통 데이터만 포함 4,5,6
pd.merge(df_a, df_b,on ='subject_id', how ='left')

# full merger
# 양 df 중 한 곳에만 있으면 그런 모든 데이터를 포함한다.

pd.merge(df_a, df_b, on='subject_id',how='outer')

In [ ]:
# concat
# pd.concat([df_a,df_b] , axis=0)
pd.concat([df_a,df_b] , join='outer')

In [ ]:
mat = np.array([[1,2,3,4],[5,6,7,8],[9,10,11,12]])
df1 = pd.DataFrame(mat)

df1.columns = ['a','b','c','d']
df1.index = ['가','나','다']
df1

mat = np.array([[10,20,30,40],[50,60,70,80],[90,100,110,120]])
df2 = pd.DataFrame(mat)

df2.columns = ['a','b','c','d']
df2.index = ['가','나','다']
df2

In [ ]:
pd.concat([df1,df2])

In [ ]:
# missing value 
# # NaN : 값이 없다...
df = pd.DataFrame(np.random.randn(5,5), index = ['a','b','c','d','e'], columns= ['one','two','three','four','five'])

In [ ]:
df.loc[['b','d'],'two'] = np.nan

df

In [ ]:
# # missing value 처리방법

# 1. nan 값을 확인
# 2-1 non값을 다른 값으로 채운다
# 2-2 nan값을 포함한 row나 column을 삭제한다.

# 1. nan값을 확인... -> isnull(), isnan() -> nan값이면 True, 아니면 False
df.isnull().sum()   # column별 non값을 확인할 수 있다.
# row별 nan값의 개수
df.isnull().sum(axis=1)
df.fillna(0)

In [ ]:

# 
df.fillna()
# 위의 값으로 채운다
df.ffill()
# 아래의 값으로 채운다
df.bfill()
# 칼럼의 평균값으로 채운다
df.fillna(df.mean())

# 데이터 표준화 # 보간
df.interpolate()

In [ ]:
# NaN값을 이용한 처리환경

df.dropna(axis=0)

In [ ]:
df.dropna(thres=4,axis=1)

In [ ]:
df.drop('one',axis=1)

In [ ]:
df

In [ ]:
#datatype

In [ ]:
# datatype
df = pd.read_csv('eda_data_files\seoul_weather.csv', skiprows=8, encoding='euckr')

df

In [ ]:
df1 = df[['일시', '평균기온(℃)', '최고기온(℃)', '최저기온(℃)']]
df1

In [ ]:
df1.columns = ['일시','평온','고온','저온']
df1

In [ ]:
df1['평온'] = df1.평온.astype('str')

In [ ]:
df1.info()

In [ ]:
# 칼럼의 datatype을 변경할 경우 : col.astype(바꿀 데이터 타입)
# 문자열 칼럼 -> col.astype('int'), col.astype('float')

# 문자열 칼럼 -> pd.to_numeric(col,error=option) 문자 칼럼이 숫자로 바뀜
# option : ignore , raise, coerce
# error -> ignore : 바꾸지 않음
# error -> raise : 에러를 띄움
# error -> coerce : 데이터를 숫자로 바꿈, error가 발행한 데이터는 NaN

# 문자열 칼럼 -> pd.to_datetime(col)

In [ ]:
df1['일시'] = pd.to_datetime(df1.일시)
df1['평온'] = pd.to_numeric(df1.평온, errors='coerce')

In [ ]:
df1.info()

In [10]:
# 서울시 구별 cctv 데이터
# 서울시 cctv 데이터, 서울시 인구 데이터

# 퀴즈 :
# 인구당 cctv수가 많은 구....
# CCTV가 가장 많은 구?>
# 2016년에 CCTV증가율이 가장 높은 구는?
# 외국인 비율이 가장 높은 구는?
# 고령자 비율이 가장 높은 구는?
# 전체 인구수가 가장 많은 구는?
# 서울시 인구당 CCTV수가 많은 구는?

In [13]:
# CSV 파일
import numpy as np
import pandas as pd

cctv = pd.read_csv('D:\BookExample_Python\Lecture03\Tranning\Backup\eda_data_files\CCTV_in_Seoul.csv')
people = pd.read_excel('D:\BookExample_Python\Lecture03\Tranning\Backup\eda_data_files\population_in_Seoul.xls')

people.columns = ['기간','자치구','세대','총인구','총남자수','총여자수','한국인인구','한국인남자','한국인여자','외국인인구','외국인남자','외국인여자','세대당인구','65세고령자']
cctv.columns = ['자치구','소계','2013년도이전','2014년','2015년','2016년']

# 인구당 cctv수가 많은 구....
# CCTV가 가장 많은 구?>
# 2016년에 CCTV증가율이 가장 높은 구는?
# 외국인 비율이 가장 높은 구는?
# 고령자 비율이 가장 높은 구는?
# 전체 인구수가 가장 많은 구는?
# 서울시 인구당 CCTV수가 많은 구는?

     기관명    소계  2013년도 이전  2014년  2015년  2016년
0    강남구  2780       1292    430    584    932
1    강동구   773        379     99    155    377
2    강북구   748        369    120    138    204
3    강서구   884        388    258    184     81
4    관악구  1496        846    260    390    613
5    광진구   707        573     78     53    174
6    구로구  1561       1142    173    246    323
7    금천구  1015        674     51    269    354
8    노원구  1265        542     57    451    516
9    도봉구   485        238    159     42    386
10  동대문구  1294       1070     23    198    579
11   동작구  1091        544    341    103    314
12   마포구   574        314    118    169    379
13  서대문구   962        844     50     68    292
14   서초구  1930       1406    157    336    398
15   성동구  1062        730     91    241    265
16   성북구  1464       1009     78    360    204
17   송파구   618        529     21     68    463
18   양천구  2034       1843    142     30    467
19  영등포구   904        495    214    195    373
20   용산구  1624       1368    218    112    398
21   은평구  1873       1138    224    278    468
22   종로구  1002        464    314    211    630
23    중구   671        413    190     72    348
24   중랑구   660        509    121    177    109

In [19]:
# 인구당 cctv수가 많은 구....

cctvPeople =

TypeError: unsupported operand type(s) for /: 'str' and 'float'

In [14]:
cctv

     기관명    소계  2013년도 이전  2014년  2015년  2016년
0    강남구  2780       1292    430    584    932
1    강동구   773        379     99    155    377
2    강북구   748        369    120    138    204
3    강서구   884        388    258    184     81
4    관악구  1496        846    260    390    613
5    광진구   707        573     78     53    174
6    구로구  1561       1142    173    246    323
7    금천구  1015        674     51    269    354
8    노원구  1265        542     57    451    516
9    도봉구   485        238    159     42    386
10  동대문구  1294       1070     23    198    579
11   동작구  1091        544    341    103    314
12   마포구   574        314    118    169    379
13  서대문구   962        844     50     68    292
14   서초구  1930       1406    157    336    398
15   성동구  1062        730     91    241    265
16   성북구  1464       1009     78    360    204
17   송파구   618        529     21     68    463
18   양천구  2034       1843    142     30    467
19  영등포구   904        495    214    195    373
20   용산구  1624       1368    218    112    398
21   은평구  1873       1138    224    278    468
22   종로구  1002        464    314    211    630
23    중구   671        413    190     72    348
24   중랑구   660        509    121    177    109

In [15]:
people

,기간,자치구,세대,총인구,총남자수,총여자수,한국인인구,한국인남자,한국인여자,외국인인구,외국인남자,외국인여자,세대당인구,65세고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2017.1/4,합계,4202888,10197604,5000005,5197599,9926968,4871560,5055408,270636,128445,142191,2.36,1321458
3,2017.1/4,종로구,72654,162820,79675,83145,153589,75611,77978,9231,4064,5167,2.11,25425
4,2017.1/4,중구,59481,133240,65790,67450,124312,61656,62656,8928,4134,4794,2.09,20764
5,2017.1/4,용산구,106544,244203,119132,125071,229456,111167,118289,14747,7965,6782,2.15,36231
6,2017.1/4,성동구,130868,311244,153768,157476,303380,150076,153304,7864,3692,4172,2.32,39997
7,2017.1/4,광진구,158960,372164,180992,191172,357211,174599,182612,14953,6393,8560,2.25,42214
8,2017.1/4,동대문구,159839,369496,182932,186564,354079,177021,177058,15417,5911,9506,2.22,54173
9,2017.1/4,중랑구,177548,414503,206102,208401,409882,204265,205617,4621,1837,2784,2.31,56774
10,2017.1/4,성북구,188512,461260,224076,237184,449773,219545,230228,11487,4531,6956,2.39,64692
11,2017.1/4,강북구,141554,330192,161686,168506,326686,160353,166333,3506,1333,2173,2.31,54813
12,2017.1/4,도봉구,136613,348646,171026,177620,346629,170289,176340,2017,737,1280,2.54,51312
13,2017.1/4,노원구,219957,569384,276823,292561,565565,275211,290354,3819,1612,2207,2.57,71941
14,2017.1/4,은평구,201869,494388,240220,254168,489943,238337,251606,4445,1883,2562,2.43,72334
15,2017.1/4,서대문구,137207,327163,156765,170398,314982,152613,162369,12181,4152,8029,2.3,48161
16,2017.1/4,마포구,169404,389649,185889,203760,378566,181346,197220,11083,4543,6540,2.23,48765
17,2017.1/4,양천구,176921,479978,237117,242861,475949,235278,240671,4029,1839,2190,2.69,52975
18,2017.1/4,강서구,247696,603772,294433,309339,597248,291249,305999,6524,3184,3340,2.41,72548
19,2017.1/4,구로구,172272,447874,224436,223438,416487,207114,209373,31387,17322,14065,2.42,56833
20,2017.1/4,금천구,105146,255082,130558,124524,236353,120334,116019,18729,10224,8505,2.25,32970
21,2017.1/4,영등포구,165462,402985,202573,200412,368072,183705,184367,34913,18868,16045,2.22,52413
22,2017.1/4,동작구,173033,412520,201217,211303,400456,195775,204681,12064,5442,6622,2.31,56013
23,2017.1/4,관악구,253826,525515,264763,260752,507203,256090,251113,18312,8673,9639,2,68082
24,2017.1/4,서초구,173856,450310,216264,234046,445994,214036,231958,4316,2228,2088,2.57,51733
25,2017.1/4,강남구,234107,570500,273301,297199,565550,270726,294824,4950,2575,2375,2.42,63167
26,2017.1/4,송파구,259883,667483,325040,342443,660584,321676,338908,6899,3364,3535,2.54,72506
27,2017.1/4,강동구,179676,453233,225427,227806,449019,223488,225531,4214,1939,2275,2.5,54622
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN