In [ ]:
# 1부터 20까지 정수에서 짝수만 출력하시오..

for i in range(21):
    if i % 2 == 0:
        print(i)

In [ ]:
# 1부터 20까지 정수에서 짝수만 리스트에 담으시오
even_list = []
for i in range(0,21,2):
    even_list.append(i)


# 0 부터 20까지 정수에서 짝수만 리스트에 담으시오 list comprehension
L = [x for x in range(21) if (x % 2 == 0)]

print(L)


# 0 부터 20까지의 정수의 합을 구하시오

result_sum1 = 0
for i in range(0,21):
    result_sum1 += i
    
print(result_sum1)

result_sum2 = sum(L)

In [ ]:
sum1 = sum([i for i in range(0,20)])
print(sum1)

In [ ]:
type(x for x in range(21))

In [ ]:
for i, j in enumerate(list(range(21))):
    if i%2 == 0:
        print(j)

In [ ]:
# 0 부터 20까지 3의 배수의 합을 구하시오...
sum_result = 0
for i in range(20):
    if i % 3 == 0:
        sum_result += i
        
print(sum_result)

In [ ]:
L = [x for x in range(20) if (x % 3 == 0)]
print(L)

In [6]:
alpha = ['a','b','c','d','o']
han = ['가','나','다','라','오']

# for문을 이용해서 위의 dict를 만드시오.

new_dict ={}
for i in range(len(alpha)):
    new_dict[alpha[i]] = han[i]
    
print(new_dict)


#{i for i in alpha : j for j in han}

# 영문에서 모음은 'aeiou' 위 dictionary d에서 key가 모음인 원소의 값을 출력하시오...


for item in new_dict.items():
    if str(item[0]) in 'aeiou':
        print(item[1])
        
for key, value in new_dict.items():
    print(key, value)

{'a': '가', 'b': '나', 'c': '다', 'd': '라', 'o': '오'}
가
오
a 가
b 나
c 다
d 라
o 오

In [10]:
# dict d에서 key와 value의 값을 바꾸시오

second_dict = {}
for key, value in new_dict.items():
    second_dict[value] = key
    
print(second_dict)

{'가': 'a', '나': 'b', '다': 'c', '라': 'd', '오': 'o'}

In [18]:
# 
L1 = ['A', 'B','C']
L2 = [1,2,3]

# 모든 조합을 만들어서 출력하시오
# A1, A2, A3, ... C2, C3

for x in L1:
    for y in L2:
        print(x,y)

#
TEST_L = [(x,y) for x in L1 for y in L2]

print(TEST_L)

A 1
A 2
A 3
B 1
B 2
B 3
C 1
C 2
C 3
[('A', 1), ('A', 2), ('A', 3), ('B', 1), ('B', 2), ('B', 3), ('C', 1), ('C', 2), ('C', 3)]

In [27]:
# 위의 리스트 L3에서 첫 글자가 'B'인 원소만 출력하시오...
for new_list in TEST_L:
    if new_list[0] == 'B':
        print(new_list[0],str(new_list[1]) )

B 1
B 2
B 3

In [29]:
# *
# **
# ***
# ****
# *****

for i in range(5):
    print("*" * (i + 1))

*
**
***
****
*****

In [37]:
words = ['mountains', 'sea', 'sky', 'river', 'cloud', 'sea', 'sky', 'sea', 'mountains']

# 위의 단어 중에서 unique한 단어만 리스트에 담으시오. 단 set은 사용하지 마시오

temp_list = []

for word in words:
    if word not in temp_list:
        temp_list.append(word)
        
temp_list

['mountains', 'sea', 'sky', 'river', 'cloud']

In [39]:
# 1 ~ 50 까지 정수에서 홀 수 의 합과 , 짝수의 하을 구하시오
odd_sum = 0
even_sum = 0
for i in range(1,51):
    if i % 2 == 0:
        even_sum += i
    else:
        odd_sum += i
        
print(even_sum)
print(odd_sum)

650
625

In [42]:
# 1 ~ 50까지의 정수에서 홀수의 합과 짝수의 합을 각각 구하시오..
l_even = [x for x in range(0,51) if (x % 2 == 0)]
l_odd = [x for x in range(0,51) if (x % 2 == 1)]

print(l_even)
print(l_odd)

sum(l_even)
sum(l_odd)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

625

In [51]:
words = ['mountains', 'sea', 'sky', 'river', 'cloud', 'sea', 'sky', 'sea', 'mountains']

# 위의 단어에서 단어의 길이가 4 이상인 단어만 중복없이 저장하시오.

word_list = []
for word in words:
    if len(word) >= 4:
        if word not in word_list:
            word_list.append(word)

print(word_list)

['mountains', 'river', 'cloud']

list

In [ ]:
words = ['mountains', 'sea', 'sky', 'river', 'cloud', 'sea', 'sky', 'sea', 'mountains']
filtered_words = set()  # 중복 없이 저장하기 위해 set을 사용
for word in words:
    if len(word) >= 4:
        filtered_words.add(word)
filtered_words_list = list(filtered_words)
print(filtered_words_list)

In [ ]:
### while 조건식 :
### 실행코드

## 조건식이 True이면 실행 코드를 반복을 지속한다.
## 조건식이 False가 되면 반복을 멈춤

## 조건식이 계속 True 이면 실행코드가 무한 반복 - 무한 루프
## while 문을 사용 시 조건식이 False가 되어서 반복을 멈추는 장치를 만들어야 한다.

#import time

#while(True):
#    print('python', end =' ')
#    time.sleep(1)

In [54]:
a = 1
suma = 0

while a <= 10:
    if a%2 == 0:
        suma += a
    a += 1
    
# 무한 반복을 방지하는 장치
suma

30

In [55]:
# break 반복문에서 break문을 만나면 반복문을 강제적으로 빠져나가는 장치

a = 1
suma = 0

while a <= 10:
    if a > 5: break
    
    if a%2 == 0:
        suma += a
    a += 1
    
# 무한 반복을 방지하는 장치
suma

6

In [58]:
text = "python is fun!!"

## text에서 
## 문자열을 하나씩 출력하다가 space를 만나면 반복문을 빠져나가도록 하시오
count = 0

while(True):
    if text[count] == ' ':
        break
        
    print(text[count])
    count+=1

p
y
t
h
o
n

In [ ]:
a = 0
while a <= 10:
    a += 1
    if a%3 == 0:
        continue
    print(a)

In [4]:
# for : 반복의 횟수가 정해진 경우
# while : 상황에 따라 반복여부가 결정

# 1 ~ 10 까지 정수의 합을 구하시오 ~ for , while문으로 각각 작성하시오..

sum_for = 0
for i in range(1,11):
    sum_for += i
    
count = 1
sum_while = 0
while count < 11:
    sum_while += count
    count+=1

print()
print(sum_for)
print(sum_while)

55
55

In [6]:
# 0 ~ 10 까지 정수를 반복하는 반복문에서 0 ~ 5까지만 출력되도록 하시오.
# while문과 break문을 사용하시오

num = 0
while True:
    if num > 5: 
        break
        
    print(num, end =" ")
    num+=1

0 1 2 3 4 5

In [2]:
# 0 ~ 10 까지 정수를 반복하는 반복문에서 5이상만 출력되도록 하시오, while문과 continue를 사용하시오

num = 0
while num < 10:
    num += 1
    if num < 5:
        continue
    print(num)

5
6
7
8
9
10

In [3]:
# 0 ~ 10 까지 정수를 반복하는 반복문에서 3,4,5,6이상만 출력되도록 하시오, while문과 continue를 사용하시오

num = 0
while num < 10:
    num += 1
    if num < 3:
        continue
    if num > 6:
        break
    print(num)

3
4
5
6

In [4]:
# 점수를 5번 입력을 받은 후, 점수의 평균을 출력하시오
# 단 while문을 사용하시오...

num = 0

sum_while = 0
avg = 0
while num < 5:
    score = int(input())
    
    sum_while += score
    avg = sum_while / (num + 1)
    
    num += 1

print(avg)
print(sum_while)

50
50
40
40
30
30
20
20
50
50
38.0
190

In [5]:
suma = 0
count = 0

while count < 5:
    score = int(input('점수를 입력하세요..'))
    suma += score
    count += 1
    
total_sum = suma/count
print(total_sum)

점수를 입력하세요..95
점수를 입력하세요..97
점수를 입력하세요..93
점수를 입력하세요..99
점수를 입력하세요..40
84.8

In [17]:
# 구구단 출력

for i in range(1,10):
    for j in range(2,10):
        print(f"{j}X{i}={i * j}", end = "\t")
    
    print()

2X1=2	3X1=3	4X1=4	5X1=5	6X1=6	7X1=7	8X1=8	9X1=9
2X2=4	3X2=6	4X2=8	5X2=10	6X2=12	7X2=14	8X2=16	9X2=18
2X3=6	3X3=9	4X3=12	5X3=15	6X3=18	7X3=21	8X3=24	9X3=27
2X4=8	3X4=12	4X4=16	5X4=20	6X4=24	7X4=28	8X4=32	9X4=36
2X5=10	3X5=15	4X5=20	5X5=25	6X5=30	7X5=35	8X5=40	9X5=45
2X6=12	3X6=18	4X6=24	5X6=30	6X6=36	7X6=42	8X6=48	9X6=54
2X7=14	3X7=21	4X7=28	5X7=35	6X7=42	7X7=49	8X7=56	9X7=63
2X8=16	3X8=24	4X8=32	5X8=40	6X8=48	7X8=56	8X8=64	9X8=72
2X9=18	3X9=27	4X9=36	5X9=45	6X9=54	7X9=63	8X9=72	9X9=81

In [21]:
for i in range(1,10):
    for j in range(2,10):
        print("{}*{}={:>2}".format(j, i, i * j), end = '\t')
    print()

2*1= 2	3*1= 3	4*1= 4	5*1= 5	6*1= 6	7*1= 7	8*1= 8	9*1= 9
2*2= 4	3*2= 6	4*2= 8	5*2=10	6*2=12	7*2=14	8*2=16	9*2=18
2*3= 6	3*3= 9	4*3=12	5*3=15	6*3=18	7*3=21	8*3=24	9*3=27
2*4= 8	3*4=12	4*4=16	5*4=20	6*4=24	7*4=28	8*4=32	9*4=36
2*5=10	3*5=15	4*5=20	5*5=25	6*5=30	7*5=35	8*5=40	9*5=45
2*6=12	3*6=18	4*6=24	5*6=30	6*6=36	7*6=42	8*6=48	9*6=54
2*7=14	3*7=21	4*7=28	5*7=35	6*7=42	7*7=49	8*7=56	9*7=63
2*8=16	3*8=24	4*8=32	5*8=40	6*8=48	7*8=56	8*8=64	9*8=72
2*9=18	3*9=27	4*9=36	5*9=45	6*9=54	7*9=63	8*9=72	9*9=81