## Pandas 사전

In [1]:
import pandas as pd
import numpy as np

# 데이터를 만드는법

In [14]:
# 1. 딕셔너리로 값 만들기
data = {'Team' : ['Riders', 'Riders', 'Devils', 'Devils', 'Kings', 'Giant', 'Kings', 'Kings', 'Riders', \
                 'Royals', 'Royals', 'Riders'],
       'Rank': [1,2,2,3,3,4,1,1,2,4,1,2],
       'Year' : [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
       'Points': [876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(data)

# 2. 난수로 값을 설정후 Column, row 만들기

mat = np.random.randn(5,5)    ## 5 X 5의 Matrix 생성하기

df = pd.DataFrame(mat)

# 행열 내용 이름 바꿔주기
df.columns = ['1번','2번','3번','4번','5번']    # 열
df.index = ['1번','2번','3번','4번','5번']      # 행

df = df.rename(columns={'5번' : '비고'})
df = df.rename(index={"5번" : '비고'})
df
# 3. 외부에서 데이터 가져오기

# pd.read_csv(csv file 경로)
# pd.read_excel(excel file 경로)
# pd.read_sql(sql query : select * from table 명)

          1번        2번        3번        4번        비고
1번  1.628608  1.066929  1.236307  0.636568 -0.198013
2번 -0.531343 -0.575214  0.063164  1.971672 -0.217742
3번  0.069234 -0.398797  1.724008  0.746282  0.246756
4번  1.174357 -1.580904  0.087657 -0.063623  0.835310
비고  0.121431  1.015964  1.010726  0.679454 -2.042447

In [37]:
# 2. 난수로 값을 설정후 Column, row 만들기

mat = np.random.randn(5,5)    ## 5 X 5의 Matrix 생성하기
df = pd.DataFrame(mat)

# 행열 내용 이름 바꿔주기
df.columns = ['1번','2번','3번','4번','5번']    # 열
df.index = ['1번','2번','3번','4번','5번']      # 행
df = df.rename(columns={'5번' : '비고'})
df = df.rename(index={"5번" : '비고'})

# 특정 column을 기준으로 정렬하기
df.sort_values('2번',ascending=True)

#column에 있는 모든 index 관리하기 = 리스트 
#df['1번']['2번'] = 1

df = df.replace({'1번' : '3번'},2)

# 행과 열 바꾸기
df.transpose()

# loc 추출
# == True False 고정하기

          1번        2번        3번        4번        비고
1번 -1.324900  1.049825 -0.414803  1.020243 -0.047458
2번 -0.044473  0.161332  0.270785 -0.950426 -0.363779
3번 -1.354752 -0.479475  0.780010 -0.757629  0.128381
4번 -0.792024 -0.732308  0.111099 -0.365975  0.656736
비고  2.075721 -0.494239 -0.670905  0.146670 -0.522596