In [1]:
import pandas as pd
import numpy as np

In [3]:
# http://www.kobis.or.kr

'D:\\bd\\lec_code\\eda'

In [17]:
df = pd.read_csv('./eda_data/KOBIS_개봉일람_2019-10-26.csv', skiprows=5)
df.head(2)

,순번,영화명,감독,제작사,수입사,배급사,개봉일,영화유형,영화형태,국적,전국,전국.1,전국.2,서울,서울.1,장르,등급,영화구분
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,스크린수,매출액,관객수,매출액,관객수,NaN,NaN,NaN
1,1.0,명량,김한민,(주)빅스톤픽쳐스,NaN,씨제이이앤엠(주),2014-07-30,개봉영화,장편,한국,"1,587","135,748,398,910","17,613,682","33,121,225,810","4,163,666",사극,15세이상관람가,일반영화

In [18]:
drop_cols = ['순번','수입사','영화유형','서울','서울.1','등급','영화구분','배급사']

df.drop(drop_cols, axis=1, inplace=True)

In [19]:
df.head(3)

,영화명,감독,제작사,개봉일,영화형태,국적,전국,전국.1,전국.2,장르
0,NaN,NaN,NaN,NaN,NaN,NaN,스크린수,매출액,관객수,NaN
1,명량,김한민,(주)빅스톤픽쳐스,2014-07-30,장편,한국,"1,587","135,748,398,910","17,613,682",사극
2,극한직업,이병헌,"(주)어바웃필름,영화사 해그림 주식회사,씨제이이앤엠(주)",2019-01-23,장편,한국,"1,978","139,647,979,516","16,264,944",코미디

In [20]:
df.rename(columns={'전국':'스크린수', '전국.1':'매출액', '전국.2':'관객수'}, inplace=True)

In [21]:
df.head(3)

,영화명,감독,제작사,개봉일,영화형태,국적,스크린수,매출액,관객수,장르
0,NaN,NaN,NaN,NaN,NaN,NaN,스크린수,매출액,관객수,NaN
1,명량,김한민,(주)빅스톤픽쳐스,2014-07-30,장편,한국,"1,587","135,748,398,910","17,613,682",사극
2,극한직업,이병헌,"(주)어바웃필름,영화사 해그림 주식회사,씨제이이앤엠(주)",2019-01-23,장편,한국,"1,978","139,647,979,516","16,264,944",코미디

In [22]:
df.drop(0, axis=0, inplace=True)

In [23]:
df.head(3)

,영화명,감독,제작사,개봉일,영화형태,국적,스크린수,매출액,관객수,장르
1,명량,김한민,(주)빅스톤픽쳐스,2014-07-30,장편,한국,"1,587","135,748,398,910","17,613,682",사극
2,극한직업,이병헌,"(주)어바웃필름,영화사 해그림 주식회사,씨제이이앤엠(주)",2019-01-23,장편,한국,"1,978","139,647,979,516","16,264,944",코미디
3,신과함께-죄와 벌,김용화,"리얼라이즈픽쳐스(주),(주)덱스터스튜디오",2017-12-20,장편,한국,"1,912","115,698,654,137","14,410,754",판타지